.kukka{
    border-radius: 40px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.2);
    background-color:#b35d5de9;
    transition: all;
    margin-top: 200px;
}
#abcd{
    text-align: center;
}